In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('E:\Deep - Data Science\Online Lectures\Machine Learning\Resources\k_circle_sales.csv')

In [3]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Profit
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8,OUT049,1999,Medium,Tier 2,Supermarket Type1,3735.1380,11.5
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.3,OUT018,2009,Medium,Tier 2,Supermarket Type2,443.4228,14.3
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6,OUT049,1999,Medium,Tier 2,Supermarket Type1,2097.2700,14.5
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.1,OUT010,1998,NaN,NaN,Grocery Store,732.3800,13.6
4,NCD19,8.93,Low Fat,0.000000,Household,53.9,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052,14.1

In [4]:
data.shape

(8523, 13)

In [6]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7775 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       6473 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
 12  Profit                     8523 non-null   float64
dtypes: float64(5), int64(1), object(7)
memory usage: 865.7+ KB
None

In [11]:
data.describe(include='all')

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Profit
count,8523,7775.000000,8523,8523.000000,8523,8523.000000,8523,8523.000000,6113,6473,8523,8523.000000,8523.000000
unique,1559,NaN,5,NaN,16,NaN,10,NaN,3,8,4,NaN,NaN
top,FDW13,NaN,Low Fat,NaN,Fruits and Vegetables,NaN,OUT027,NaN,Medium,Tier 2,Supermarket Type1,NaN,NaN
freq,10,NaN,5089,NaN,1232,NaN,935,NaN,2793,2793,5577,NaN,NaN
mean,NaN,11.688100,NaN,0.066132,NaN,140.998838,NaN,1997.831867,NaN,NaN,NaN,2181.288914,13.414514
std,NaN,5.862684,NaN,0.051598,NaN,62.258099,NaN,8.371760,NaN,NaN,NaN,1706.499616,1.701840
min,NaN,0.000000,NaN,0.000000,NaN,31.300000,NaN,1985.000000,NaN,NaN,NaN,33.290000,0.100000
25%,NaN,7.720000,NaN,0.026989,NaN,93.800000,NaN,1987.000000,NaN,NaN,NaN,834.247400,13.150000
50%,NaN,11.800000,NaN,0.053931,NaN,142.700000,NaN,1999.000000,NaN,NaN,NaN,1794.331000,13.900000
75%,NaN,16.500000,NaN,0.094585,NaN,185.650000,NaN,2004.000000,NaN,NaN,NaN,3101.296400,14.300000
max,NaN,100.000000,NaN,0.328391,NaN,266.900000,NaN,2009.000000,NaN,NaN,NaN,13086.964800,24.000000

#### Info about categorical values

In [12]:
data["Item_Fat_Content"].nunique() #No. of unique values

5

In [13]:
data['Item_Fat_Content'].unique() #All Unique values

array(['Low Fat', 'Regular', 'low fat', 'LF', 'reg'], dtype=object)

In [15]:
data['Item_Fat_Content'].value_counts() #no. of data in each unique values

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [16]:
type(data['Item_Fat_Content'])

pandas.core.series.Series

In [18]:
print(data['Item_Fat_Content'].values)

['Low Fat' 'Regular' 'Low Fat' ... 'Low Fat' 'Regular' 'Low Fat']

### Data Manipulation

1. Handling Null Values
2. Slicing / Selecting
3. Filtering

In [21]:
data.isnull().any()

Item_Identifier              False
Item_Weight                   True
Item_Fat_Content             False
Item_Visibility              False
Item_Type                    False
Item_MRP                     False
Outlet_Identifier            False
Outlet_Establishment_Year    False
Outlet_Size                   True
Outlet_Location_Type          True
Outlet_Type                  False
Item_Outlet_Sales            False
Profit                       False
dtype: bool

In [22]:
data.isnull().sum()

Item_Identifier                 0
Item_Weight                   748
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type         2050
Outlet_Type                     0
Item_Outlet_Sales               0
Profit                          0
dtype: int64

In [23]:
# fillna - filling the missing values
#Fill with mean,median or mode for numerical data
#Fill mode in categorical data

data['Item_Weight'].fillna(data['Item_Weight'].mean(),inplace=True)

In [32]:
data['Outlet_Size'].fillna(data["Outlet_Size"].mode()[0],inplace=True)

In [29]:
data['Outlet_Location_Type'].fillna(data['Outlet_Location_Type'].mode()[0],inplace = True)

In [33]:
data.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
Profit                       0
dtype: int64

In [36]:
data.iloc[:,:5].head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type
0,FDA15,9.30,Low Fat,0.016047,Dairy
1,DRC01,5.92,Regular,0.019278,Soft Drinks
2,FDN15,17.50,Low Fat,0.016760,Meat
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables
4,NCD19,8.93,Low Fat,0.000000,Household

In [37]:
data.loc[0:10,:] #will accepts only 2 integers 1st for rows and 2nd for columns

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Profit
0,FDA15,9.3000,Low Fat,0.016047,Dairy,249.8,OUT049,1999,Medium,Tier 2,Supermarket Type1,3735.1380,11.5
1,DRC01,5.9200,Regular,0.019278,Soft Drinks,48.3,OUT018,2009,Medium,Tier 2,Supermarket Type2,443.4228,14.3
2,FDN15,17.5000,Low Fat,0.016760,Meat,141.6,OUT049,1999,Medium,Tier 2,Supermarket Type1,2097.2700,14.5
3,FDX07,19.2000,Regular,0.000000,Fruits and Vegetables,182.1,OUT010,1998,Medium,Tier 2,Grocery Store,732.3800,13.6
4,NCD19,8.9300,Low Fat,0.000000,Household,53.9,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052,14.1
5,FDP36,10.3950,Regular,0.000000,Baking Goods,51.4,OUT018,2009,Medium,Tier 2,Supermarket Type2,556.6088,9.5
6,FDO10,13.6500,Regular,0.012741,Snack Foods,57.7,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528,8.8
7,FDP10,11.6881,Low Fat,0.127470,Snack Foods,107.8,OUT027,1985,Medium,Tier 2,Supermarket Type3,4022.7636,13.3
8,FDH17,16.2000,Regular,0.016687,Frozen Foods,97.0,OUT045,2002,Medium,Tier 2,Supermarket Type1,1076.5986,13.0
9,FDU28,19.2000,Regular,0.094450,Frozen Foods,187.8,OUT017,2007,Medium,--,Supermarket Type1,4710.5350,13.6
10,FDY07,11.8000,Low Fat,0.000000,Fruits and Vegetables,45.5,OUT049,1999,Medium,Tier 2,Supermarket Type1,1516.0266,14.3

In [41]:
data.loc[0:10,["Item_Weight",'Profit']]

    Item_Weight  Profit
0        9.3000    11.5
1        5.9200    14.3
2       17.5000    14.5
3       19.2000    13.6
4        8.9300    14.1
5       10.3950     9.5
6       13.6500     8.8
7       11.6881    13.3
8       16.2000    13.0
9       19.2000    13.6
10      11.8000    14.3

In [42]:
data.loc[[1,4,3,5,6],["Item_Weight",'Profit']]

   Item_Weight  Profit
1        5.920    14.3
4        8.930    14.1
3       19.200    13.6
5       10.395     9.5
6       13.650     8.8

In [43]:
data.iloc[[1,3,5,7],[4,8,12]]

               Item_Type Outlet_Size  Profit
1            Soft Drinks      Medium    14.3
3  Fruits and Vegetables      Medium    13.6
5           Baking Goods      Medium     9.5
7            Snack Foods      Medium    13.3

In [53]:
#Filtering
data[data["Item_Weight"]>10].iloc[:10,1:4]
data.loc[data["Item_Weight"]>10,['Item_Type']]

                  Item_Type
2                      Meat
3     Fruits and Vegetables
5              Baking Goods
6               Snack Foods
7               Snack Foods
...                     ...
8515           Baking Goods
8516                 Others
8517           Frozen Foods
8520     Health and Hygiene
8522            Soft Drinks

[5389 rows x 1 columns]

In [52]:
data.loc[data["Item_Fat_Content"]=='Low Fat', ['Item_Type','Item_MRP']]

                  Item_Type  Item_MRP
0                     Dairy     249.8
2                      Meat     141.6
4                 Household      53.9
7               Snack Foods     107.8
10    Fruits and Vegetables      45.5
...                     ...       ...
8515           Baking Goods     157.5
8516                 Others      58.8
8518            Snack Foods     214.5
8520     Health and Hygiene      85.1
8522            Soft Drinks      75.5

[5089 rows x 2 columns]

### Sorting

In [55]:
data.sort_values(by=['Item_MRP'], ascending = False)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Profit
4802,FDS13,6.4650,Low Fat,0.125210,Canned,266.9,OUT017,2007,Medium,Tier 2,Supermarket Type1,1059.9536,13.2
5884,FDR25,17.0000,Regular,0.139522,Canned,266.9,OUT046,1997,Small,Tier1,Supermarket Type1,5034.7796,13.2
4159,FDK51,19.8500,Low Fat,0.008763,Dairy,266.7,OUT010,1998,Medium,?,Grocery Store,264.9884,14.1
5254,NCS29,9.0000,Low Fat,0.069488,Health and Hygiene,266.7,OUT013,1987,High,Tier 3,Supermarket Type1,3974.8260,14.2
5558,NCS29,9.0000,Low Fat,0.069532,Health and Hygiene,266.6,OUT035,2004,Small,Tier1,Supermarket Type1,6624.7100,14.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2242,FDG40,11.6881,Low Fat,0.039631,Frozen Foods,32.0,OUT027,1985,Medium,Tier 2,Supermarket Type3,984.7182,14.0
2011,FDX59,10.1950,Low Fat,0.051618,Breads,32.0,OUT013,1987,High,Tier 3,Supermarket Type1,373.5138,14.3
2135,DRK12,9.5000,Low Fat,0.042057,Soft Drinks,31.9,OUT018,2009,Medium,Tier 2,Supermarket Type2,366.1900,14.4
6958,DRK12,9.5000,Low Fat,0.041851,Soft Drinks,31.5,OUT013,1987,High,Tier 3,Supermarket Type1,466.0600,12.2
153,DRK12,11.6881,Low Fat,0.041683,Soft Drinks,31.3,OUT027,1985,Medium,Tier 2,Supermarket Type3,898.8300,11.7

In [57]:
data.sort_values(by=['Item_Weight','Item_MRP'], ascending = [True,True]).head(10)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Profit
952,FDX59,0.0,Low Fat,0.051411,Breads,33.1,OUT027,1985,Medium,Tier 2,Supermarket Type3,984.7182,14.3
7943,NCE31,0.0,Low Fat,0.183948,Household,33.6,OUT027,1985,Medium,Tier 2,Supermarket Type3,934.7832,13.8
6986,FDJ45,0.0,Low Fat,0.128533,Seafood,34.2,OUT019,1985,Small,Tier1,Grocery Store,173.1080,14.6
3053,NCL41,0.0,Low Fat,0.073077,Health and Hygiene,34.3,OUT019,1985,Small,Tier1,Grocery Store,34.6216,12.4
6291,NCO06,0.0,Low Fat,0.107507,Household,34.9,OUT027,1985,Medium,Tier 2,Supermarket Type3,441.4254,13.2
5344,FDV16,0.0,Regular,0.145201,Frozen Foods,35.5,OUT019,1985,Small,Tier1,Grocery Store,135.8232,14.5
7763,DRF25,0.0,Low Fat,0.068153,Soft Drinks,36.0,OUT019,1985,Small,Tier1,Grocery Store,73.2380,13.6
3039,NCN53,0.0,Low Fat,0.053148,Health and Hygiene,36.4,OUT019,1985,Small,Tier1,Grocery Store,105.8622,13.4
5338,NCI31,0.0,Low Fat,0.142393,Others,36.4,OUT019,1985,Small,Tier1,Grocery Store,109.8570,13.8
38,FDX10,0.0,Regular,0.123111,Snack Foods,37.0,OUT027,1985,Medium,Tier 2,Supermarket Type3,388.1614,14.3

### Groupby

In [65]:
data.groupby("Outlet_Size").mean()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales,Profit
Outlet_Size,,,,,,
High,13.006148,0.059957,141.374356,1987.000000,2298.995256,13.428541
Medium,11.616901,0.064828,140.476936,2000.120507,2283.730470,13.410340
Small,11.328814,0.071383,141.989405,1997.072864,1912.149161,13.418132